# ============================================================
# Python
# ============================================================
__pycache__/
*.py[cod]
*$py.class

# ============================================================
# Virtual Environment
# ============================================================
.venv/
venv/
env/
ENV/

# ============================================================
# Django / Runtime
# ============================================================
*.log

# ============================================================
# Environment / Secrets
# ============================================================
.env
.env.*

# ============================================================
# Celery Beat Runtime Files
# ============================================================
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal

# ============================================================
# IDE
# ============================================================
.vscode/
.idea/

# ============================================================
# OS
# ============================================================
.DS_Store
Thumbs.db